<div class="container mt-1 text-light">
  <h1>start exploring space missions and satellite data</h1>
  <p>visit:</p>
  <ul>
    <li><a [routerLink]="['/marsrovers']"><strong>mars rovers</strong></a> - missions' details and photos</li>
    <li><a [routerLink]="['/collections']"><strong>constellations</strong></a> - interesting constellations of satellites</li>
  </ul>
</div>