<div class="container mt-1 text-light">
    <h1>constellation</h1>
    <ng-container *ngIf="!isLoading && !isError">
        <h2>details</h2>
        <div class="container">
            <div class="row">
                name: {{constellation.name}}
            </div>
            <div class="row">
                description: {{constellation.description}}
            </div>
            <div class="row">
                objects count: {{constellation.count}}
            </div>
        </div>
        <h2 class="mt-1">objects</h2>
        <app-satellites [satellites]="constellation.satellites"></app-satellites>
    </ng-container>
    <ng-container *ngIf="isLoading">
        <div class="row">
            <div class="text-light mx-auto">
                <h2>constellation {{constellationName}} is loading...</h2>
            </div>
        </div>
        <div class="row">
            <div class="spinner-grow text-dark mx-auto" role="status">
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="isError">
        <div class="row">
            <div class="alert alert-danger mx-auto" role="alert">
                an error occurred while loading data
            </div>
        </div>
    </ng-container>
</div>