<ng-container *ngIf="marsRover">
    <h2 class="mt-1 text-light">{{marsRover.name}}</h2>
    <div class="container text-light">
        <div class="row">
            status: {{marsRover.status}}
        </div>
        <div class="row">
            launch date: {{marsRover.launchDate}}
        </div>
        <div class="row">
            landing date: {{marsRover.landingDate}}
        </div>
        <div class="row">
            totalPhotos: {{marsRover.totalPhotos}}
        </div>
        <ng-container *ngIf="currentPhoto">
            <div class="row mt-1">
                <div class="carousel slide mx-auto w-50">
                    <div class="carousel-inner">
                        <div class="item">
                            <img class="w-100" [src]="currentPhoto.imageUrl">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{marsRover.name}} {{currentPhoto.camera.fullName}} ({{currentPhoto.camera.shortName}})</h5>
                                <h6>@ Mars {{currentPhoto.earthDay}} ({{currentPhoto.sol}} sol)</h6>
                                <h6>{{currentPhotoIdx}}/{{lastPhotoIdx}}</h6>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" (click)="prev()">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" (click)="next()">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                </div>
            </div>
        </ng-container>
        <!-- <ng-container *ngIf="currentPhoto">
                <div class="row">
                    <div class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <img class="d-block w-100" [src]="currentPhoto.imageUrl">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{marsRover.name}} {{currentPhoto.camera.fullName}} ({{currentPhoto.camera.shortName}}) @ Mars
                                        {{currentPhoto.earthDay}} ({{currentPhoto.sol}} sol)</h5>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </ng-container> -->
    </div>
</ng-container>