input[type="text"] {
  border: 0px;
  background: #000000;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: #000000;
}

h1 {
  font-size: 1.5rem;
}

h2 { 
  font-size: 1.3rem;
}
