<div class="container mt-1">
    <div class ="row">
        <input type="text" class="form-control" #box (keyup)="filter(box.value)" placeholder="Type to search...">
    </div>
    <div class="row mt-1">
        <table class="table text-light">
            <thead>
                <tr>
                    <th scope="col">norad catalog id</th>
                    <th scope="col">object name</th>
                    <th scope="col">international designator</th>
                    <th scope="col">element number</th>
                    <th scope="col">epoch</th>
                    <th scope="col">mean revolutions per day</th>
                    <th scope="col">revolution number at epoch</th>
                </tr>
            </thead>
            <ng-container *ngIf="filterResult?.length">
                <tbody>
                    <tr *ngFor="let sat of filterResult">
                        <td>{{sat.noradCatalogId}}</td>
                        <td>{{sat.objectName}}</td>
                        <td>{{sat.internationalDesignator}}</td>
                        <td>{{sat.elementNumber}}</td>
                        <td>{{sat.epoch}}</td>
                        <td>{{sat.meanMotion}}</td>
                        <td>{{sat.revAtEpoch}}</td>
                    </tr>
                </tbody>
            </ng-container>
        </table>
    </div>
</div>