<div class="container text-light mt-1">
    <h1>mars rovers</h1>
    <ng-container *ngIf="!isLoading && !isError">
        <app-mars-rover *ngFor="let rover of rovers" [rover]="rover"></app-mars-rover>
    </ng-container>
    
    <ng-container *ngIf="isLoading">
        <div class="row">
            <div class="spinner-grow text-dark mx-auto" role="status">
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="isError">
        <div class="row">
            <div class="alert alert-danger mx-auto" role="alert">
                an error occurred while loading data
            </div>
        </div>
    </ng-container>
</div>
