<div class="container mt-1">
    <div class="row">
        <table class="table text-light">
            <thead>
                <tr>
                    <th scope="col">name</th>
                    <th scope="col">description</th>
                    <th scope="col">objects count</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <ng-container *ngIf="!isLoading && !isError">
                <tbody>
                    <tr *ngFor="let constellation of constellations">
                        <td>{{constellation.name}}</td>
                        <td>{{constellation.description}}</td>
                        <td>{{constellation.count}}</td>
                        <td>
                            <a [routerLink]="['/constellations', constellation.name]">
                                <button type="button" class="btn btn-info">details</button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </ng-container>
        </table>
    </div>
    <ng-container *ngIf="isLoading">
        <div class="row">
            <div class="spinner-grow text-dark mx-auto" role="status">
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="isError">
        <div class="row">
            <div class="alert alert-danger mx-auto" role="alert">
                an error occurred while loading data
            </div>
        </div>
    </ng-container>
</div>